.mainDiv {
    margin: 0rem auto -2rem auto;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px 0;
}

@media screen and (max-width: 1248px) {

}

@media screen and (max-width: 500px) {
    .mainDiv {
        width: 100%;
        overflow: hidden;
    }
}