.mainDiv {
    height: 53px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
}

.SearchInput {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: #eeeff2;
    padding: 7px 50px 7px 16px;
    border: none;
    font-size: 1rem;
    direction: inherit;
}


html[dir="rtl"] .SearchInput {
    padding-right: 50px;
    padding-left: 16px;
    text-align: right;
}


html[dir="ltr"] .SearchInput {
    padding-left: 50px;
    padding-right: 16px;
    text-align: left;
}

.SearchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0741ad;
    color: white;
    border-radius: 8px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}


html[dir="rtl"] .SearchIcon {
    right: 10px;
}


html[dir="ltr"] .SearchIcon {
    left: 10px;
}


@media (max-width: 768px) {
    .mainDiv {
        height: 40px;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    .SearchInput {
        height: 40px;
        font-size: 16px;
        border-radius: 30px;
        border: 1px solid #0741ad;
    }

    .SearchIcon {
        height: 30px;
        width: 30px;
        font-size: 18px;
        background-color: transparent;
        color: #0741ad;
    }

    .scrolled {
        height: 0;
    }
}
