.mainDiv{
    height: 53px;
    width: 100%;
    background-color: #ffffff;
    margin:0 3rem 0 0 ;
}
.SearchInput{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color:#eeeff2;
    padding: 7px;
}
.SearchInput[placeholder]{
    text-align: center;
}
.SearchIcon{
    position: relative;
    height: 30px;
    width: 30px;
}
.SearchIcon svg {
    position: absolute;
    top: -4px;
    right:10px;
    background-color: #0741ad;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    font-size: 50px;

}
@media (max-width: 700px){
    .mainDiv{
        height: 53px;
        width: 100%;
        background-color: #ffffff;
        margin:0 0 0 0 ;
        z-index: 100;
    }
    .SearchInput{
        height: 50px;
        width: 100%;
        border-radius: 10px;
        background-color:#eeeff2;
        padding: 7px;
    }
}
