/*.mask {*/
/*    position: sticky;*/
/*    left: 0;*/
/*    top: 100px;  !* يبدأ من أسفل القائمة *!*/
/*    width: 100vw;*/
/*    height: 32vh; !* يغطي الجزء السفلي فقط *!*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    z-index: 99; !* خلف المكون الرئيسي *!*/
/*}*/

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    background: #f7f7f7;
    position: absolute;
    bottom: -66vh;
    left: 50%;
    /*transform: translateX(-50%);*/
    z-index: 100;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}
.container.show {
    opacity: 1;
    transform: translate(-50%, 0);
}
.hide {
    opacity: 0;
    transform: translate(-50%, 20px);
}


.sidebar{
    width: 25%;
    padding: 10px 3px;
    overflow-y: hidden;
}
.sidebar:hover{
    overflow-y: auto;
}
.categories{
    width: 73%;
    padding: 10px 3px;
    /*background: #ff0000;*/
    display: flex;
    gap: 5px;

}

.mainSection{
    width: 52%;
    padding: 10px 8px;
    border-left:1px solid #EDE9E6;
    border-right:1px solid #EDE9E6;
    overflow-y: hidden;
    }
.mainSection:hover{
    overflow-y: auto;
}
.secondSection{
    width: 52%;
    padding: 10px 3px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow-y: hidden;
    height: auto;
}
.secondSection:hover{
    overflow-y: auto;
}
.subSectionOne,.subSectionTow{
    padding: 10px 3px;
    flex-wrap: wrap;

}
.subSectionTow{
    border-top:1px solid #EDE9E6;
}
@media (max-width: 800px)
{
    .container{
        flex-direction: column;
        display: none;
    }
    .categories{
        width: 100%;
    }
    .sidebar{
        position: absolute;
        top: 0;
        right: 0%;
        width: 50%;
        background-color: #eeeff2;
        z-index: 1000;
    }

}
@media (max-width: 600px)
{
    .categories{
        flex-direction: column;
    }
    .mainSection,.secondSection{
        width: 100%;
        height: max-content;
    }

}
