.mainDiv{
    height: 23vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
.toolsDiv{
    display: flex;
    padding: 15px;
    margin-top:3rem;
    height: 10vh;
    background-color: white;
    width: 90%;



}
.iconDiv{
    display: flex;
}