.navbarContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

}
.navWrapper {
    transition: all 0.3s ease;
    height: 60px;
}

.navWrapper.scrolled {
    height: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

@media (max-width: 768px) {
    .navbarContainer {
        position: sticky;
        top: 0;
        z-index: 1001;
    }

}