.container{
    width: 100%;
}
.products{
    width: 99%;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 10px;
}
.items{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    transition: all 0.3s ease;

}
@media (max-width: 630px) {
    .products{
        width: 100%;
        padding: 10px;
    }
}


